h2 {
    text-align: center;
}


.board-container {
    background-color: #371b6a;
    margin: 2%;
}


.columns-container {
    padding-left: 10%;
    padding-right: 10%;
    overflow: hidden;
}

.column-left {
    background-color: #f9edff;
    width: 49%;
    float: left;
}

.column-right {
    float: right;
    min-height: 100%;
    width: 49%;
    background-color: #f9edff;
}

.row {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
}

.row button {
    background-color: #78787a;
    border: 1px solid #c1c0c4;
    color: #f9f9f9;
    cursor: pointer;
    float: snap;
    font-size: large;
    font-family: "Arial";
    padding: 10px;
    transition: transform 0.2s;
}

.row button:hover{
    background-color: #6fa7f9;
    transform: scale(1.05);
    transition: transform 0.2s;
}

.row button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

.row:after {
    /* Clear floats (clearfix hack) */
    content: "";
    clear: both;
    display: table;
}

.row button:active{
    opacity:0.5;
    transition:opacity 0s;
    /* Ripple effect */
    /* could show color/s of potential acquisition when hovering over button */
}

button:focus {
    /* Remove blue button outline after clicking in chrome */
    outline:0;
}

.stock-button-group {
    /*Todo: Center this group without using padding.*/
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 2%;
}

.stock-button-group button {
    justify-content: center;
    margin: auto;
    color: white;
    padding: 1% 1%;
    cursor: pointer;
    transition: transform 0.3s;
}

.stock-button-group button:active{
    opacity:0.6;
    transition:opacity 0s;
    /* could show color/s of potential acquisition when hovering over button */
}

.stock-button-group button:hover {
    /* Add a background color on hover */
    opacity: 50%;
    transform: scale(1.1);
    transition: transform 0.5s;
}

.stock-button-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.stock-button-group:after {
    content: "";
    clear: both;
    display: table;
}

.tower {
    background-color: lightslategrey;
}

.continental {
    background-color: red;
}

.worldwide{
    background-color: rebeccapurple;
}

.imperial{
    background: goldenrod;
}

.festival{
    background-color: forestgreen;
}

.sackson{
    background-color: darkorange;
}

.american{
    background-color: cornflowerblue;
}

#end-turn{
    background-color: deeppink;
    margin: 3% auto;
    display: block;
    padding: 1% 1%;
    height: 1%;
    width: 10%;

}

.tiles{
    margin: 3% 3%;
    display: block;
    text-align: center;
}
