.board-container {
    background-color: #cbfff7;
    margin: 2%;
}


.columns-container {
    align: center;
    margin: auto;
    width: 90%;
    overflow: hidden;
}

.column-left {
    background-color: #defffd;
    width: 40%;
    float: left;
}

.column-right {
    float: right;
    min-height: 100%;
    width: 50%;
    background-color: red;
}

.row {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
}

.row button {
    background-color: #e5e6ff; /* Green background */
    border: 1px solid #101744; /* Green border */
    color: black; /* White text */
    cursor: pointer; /* Pointer/hand icon */
    float: snap; /* Float the buttons side by side */
    font-size: large;
    font-family: "Arial";
    padding: 10px;
}

.row button:hover{
    background-color: #6fa7f9;
}

.row button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

.row:after {
    /* Clear floats (clearfix hack) */
    content: "";
    clear: both;
    display: table;

}

.row button:active{
    opacity:0.5;
    transition:opacity 0s;
    /* Ripple effect */
    /* could show color/s of potential acquisition when hovering over button */
}

button:focus {
    /* Remove blue button outline after clicking in chrome */
    outline:0;
}

.stock-btn-group {
    padding: 5%;
}

.stock-btn-group button {
    padding: auto;
    width: 13%;
    color: white;
    padding: 1% 1%;
    cursor: pointer;
}

.stock-btn-group button:active{
    opacity:0.6;
    transition:opacity 0s;
    /* could show color/s of potential acquisition when hovering over button */
}

.stock-btn-group button:hover {
    /* Add a background color on hover */
    background-color: #3e8e41;
}

.stock-btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.stock-btn-group:after {
    content: "";
    clear: both;
    display: table;
}

#t-stock{
    background-color: lightslategrey;
}

#c-stock{
    background-color: red;
}

#w-stock{
    background-color: rebeccapurple;
}

#i-stock{
    background: goldenrod;
}

#f-stock{
    background-color: forestgreen;
}

#s-stock{
    background-color: darkorange;
}

#a-stock{
    background-color: cornflowerblue;

}
