.board-container {
    background-color: #cbfff7;
    margin: 2%;
}


.columns-container {
    margin: auto;
    width: 90%;
    overflow: hidden;
}

.columns-container .column-left {
    text-align: center;
    background-color: #defffd;
    width: 50%;
    float: left;
}

.columns-container .column-right {
    text-align: center;
    float: right;
    width: 50%;
    background-color: red;
}

.row {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
}

.row button {
    background-color: #e5e6ff; /* Green background */
    border: 1px solid #101744; /* Green border */
    color: black; /* White text */
    cursor: pointer; /* Pointer/hand icon */
    float: snap; /* Float the buttons side by side */
    font-size: large;
    font-family: "Arial";
    padding: 10px;
}

.row button:hover{
    background-color: #6fa7f9;
}

.row button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.row:after {
    content: "";
    clear: both;
    display: table;
}

/* Ripple effect */
.row button:active{
    opacity:0.5;
    transition:opacity 0s;
    /* could show color/s of potential acquisition when hovering over button */
}

/* Remove blue button outline after clicking in chrome */
button:focus {
    outline:0;
}

.btn-group button {
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.btn-group button:active{
    opacity:0.6;
    transition:opacity 0s;
    /* could show color/s of potential acquisition when hovering over button */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}




